<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">The Book App</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">MENU</a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="/books">BOOKS</a></li>
        <li><a routerLink="/register">REGISTER</a></li>
        <li><a routerLink="/login">LOGIN</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li class="sidenav-close"><a routerLink="/">HOME</a></li>
    <li class="sidenav-close"><a routerLink="/books">BOOKS</a></li>
    <li class="sidenav-close"><a routerLink="/register">REGISTER</a></li>
    <li class="sidenav-close"><a routerLink="/login">LOGIN</a></li>
  </ul>
</header>