<section class="cover-image">
    <img src="../../../assets/books-library.jpg">
    <a routerLink="/books" class="waves-effect waves-light btn-large">FIND YOUR NEXT FAVOURITE BOOK</a>
</section>
<section class="choose-category">
    <h2>CHOOSE CATEGORY</h2>
    <div class="wrapper">
        <div class="box">
            <i class="material-icons">favorite</i>
            <h3>LOVE</h3>
        </div>
        <div class="box">
            <i class="material-icons">attach_money</i>
            <h3>CRIME</h3>
        </div>
        <div class="box">
            <i class="material-icons">dashboard</i>
            <h3>OTHERS</h3>
        </div>
    </div>
</section>
<section class="add-book">
    <h2 class="mb-0">OR ADD A BOOK</h2>
    <div class="wrapper">
        <div class="box">
            <i class="material-icons">add</i>
        </div>
    </div>
</section>