<div class="row">
    <div class="col s12">
        <a routerLink="/details/{{book!.id}}">
            <div class="card">
                <div class="card-image">
                    <img src="{{book!.coverUrl}}">
                    <span class="card-title">{{book!.title}}</span>
                </div>
                <div class="card-content">
                    <p><span class="upvotes">{{book!.upvotes}} &#8679;</span> <span
                            class="downvotes">{{book!.downvotes}} &#8681;</span></p>
                    <p class="year">YEAR: {{book!.year}}</p>
                    <p>{{book!.description.substring(0, 75)}}...</p>
                </div>
                <hr />
                <!-- <div class="details-link center-align">
                <a routerLink="/details/{{book!.id}}">DETAILS</a>
            </div> -->
            </div>
        </a>
    </div>
</div>