.details-link {
    color: #0091ea;
    font-weight: bold;
    transition: all .4s;
    display: inline-block;
    margin-top: auto;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    padding: 1rem;
    font-size: 1.1rem;
}

.card {
    text-align: center;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.details-link:hover {
    transform: scale(1.1);
    transition: all .4s;
}

hr {
    margin: 0 auto;
    width: 75%;
    opacity: 0.4;
}

.card .card-image .card-title {
    font-weight: bold;
    padding: 5px;
    background-color: #0000007a;
    font-size: 1.3rem;
    overflow-wrap: break-word;
}

.card .card-image img {
    height: 250px;
    object-fit: cover;
}

.upvotes, .downvotes {
    font-size: 1.5rem;
    font-weight: bold;
    margin: .5rem;
}

.upvotes {
    color: limegreen;
}

.downvotes {
    color: tomato;
}

.year{
    font-weight: bold;
    font-style: italic;
}