<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="https://materializecss.com/images/sample-1.jpg">
                <span class="card-title">{{book!.title}}</span>
            </div>
            <div class="card-content">
                <p>{{book!.description}}</p>
            </div>
            <hr />
            <div class="details-link center-align">
                <a routerLink="/details">DETAILS</a>
            </div>
        </div>
    </div>
</div>