  .input-field label {
      color: gray;
  }

  .input-field input:focus+label {
      color: #0091ea;
  }

  .input-field input:focus {
      border-bottom: 1px solid #0091ea;
      box-shadow: 0 1px 0 0 #0091ea;
  }

  .input-field input.valid {
      border-bottom: 1px solid #0091ea;
      box-shadow: 0 1px 0 0 #0091ea;
  }

  .input-field input.invalid {
      border-bottom: 1px solid red;
      box-shadow: 0 1px 0 0 red;
  }

  .input-field .prefix.active {
      color: #0091ea;
  }

  .btn:hover {
      transform: scale(1.1);
  }

  .btn {
      font-weight: bold;
  }

  .row {
      display: flex;
      margin-top: 2rem;
      justify-content: center;
  }

  .col.s4 {
      margin-left: 0;
      width: 500px;
  }

  form {
      text-align: center;
  }

  p {
      margin: 0;
      color: red;
  }