  .row {
      display: flex;
      margin-top: 2rem;
      justify-content: center;
  }

  .col.s4 {
      margin-left: 0;
      width: 500px;
  }

  form {
      text-align: center;
  }

  p {
      margin: 0;
      color: red;
  }