<section class="book-details" *ngIf='book'>
  <h3>{{book!.title}}</h3>
  <img src="{{book!.coverUrl}}" />
  <p class="year">YEAR: {{book!.year}}</p>
  <div class="rating">
    <div class="tup" (click)='upvote()'>
      <i class="material-icons prefix">thumb_up</i>
      <span>{{book!.upvotes}}</span>
    </div>
    <div class="tdown" (click)='downvote()'>
      <i class="material-icons prefix">thumb_down</i>
      <span>{{book!.downvotes}}</span>
    </div>
  </div>
  <div class="description">
    <h5>Description</h5>
    <div class="line"></div>
    <p>{{book!.description}}
    </p>
  </div>
  <div class="reviews">
    <h5>Reviews</h5>
    <div class="line"></div>
    <div class="row leave-review">
      <div class="col s12">
        <div class="row w-75 m-0">
          <form [formGroup]='addReviewForm' (ngSubmit)='addReview()'>
            <div class="input-field col s12">
              <textarea id="review" class="materialize-textarea" formControlName='review'></textarea>
              <label for="review">ADD REVIEW</label>
              <button class="btn waves-effect waves-light light-blue accent-4" type="submit" name="action">ADD</button>
            </div>
            <p class="danger" *ngIf='addReviewForm.controls.review.touched && addReviewForm.controls.review.errors'>
              Review should be between 5 and 1000 characters long.
            </p>
          </form>
        </div>
      </div>
    </div>
      <div class="review" *ngFor='let review of book!.reviews'>
        <p>
          {{review.text}}
        </p>
        <p class="review-details">{{review.dateTime | date}} by {{review.author}}</p>
      </div>
  </div>
</section>