<section class="book-details" *ngIf='book'>
  <h3>{{book!.title}}</h3>
  <img src="{{book!.coverUrl}}" />
  <div class="rating">
    <div class="tup">
      <i class="material-icons prefix">thumb_up</i>
      <span>1</span>
    </div>
    <div class="tdown">
      <i class="material-icons prefix">thumb_down</i>
      <span>5</span>
    </div>
  </div>
  <div class="description">
    <h5>Description</h5>
    <div class="line"></div>
    <p>{{book!.description}}
    </p>
  </div>
  <div class="reviews">
    <h5>Reviews</h5>
    <div class="line"></div>
    <div class="row leave-review">
      <div class="col s12">
        <div class="row w-75 m-0">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">ADD REVIEW</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light light-blue accent-4" type="submit" name="action">ADD</button>
      </div>
    </div>
    <div class="review">
      <p>
        ipsam aut est ullam, quaerat et atque dolores commodi blanditiis iusto similique corporis soluta quidem.
      </p>
      <p class="review-details">20.10.2020 by Author</p>
    </div>
  </div>
</section>