<section class="book-details">
    <h3>Book Title</h3>
    <img src="https://materializecss.com/images/sample-1.jpg" />
    <p>RATING 5/5</p>
    <div class="description">
        <h5>Description</h5>
        <div class="line"></div>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur eum esse, placeat sed ut iste praesentium
            qui
            explicabo ipsa maiores, quod corrupti maxime in nam repudiandae error obcaecati, reiciendis magnam.
            Repudiandae eligendi porro quis aliquam modi accusantium temporibus maiores labore facilis quibusdam quia
            quisquam
            ipsam aut est ullam, quaerat et atque dolores commodi blanditiis iusto similique corporis soluta quidem.
        </p>
    </div>
    <div class="comments">
        <h5>Comments</h5>
        <div class="line"></div>
        <div class="row leave-comment">
            <div class="col s12">
              <div class="row w-75 m-0">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">LEAVE A COMMENT</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light light-blue accent-4" type="submit" name="action">COMMENT</button>
            </div>
          </div>
        <div class="comment">
            <p>
                ipsam aut est ullam, quaerat et atque dolores commodi blanditiis iusto similique corporis soluta quidem.
            </p>
            <p class="comment-details">20.10.2020 by Author</p>
        </div>
    </div>
</section>