<h5 class="center-align">MY BOOKS</h5>
<ul class="collection">
    <li class="collection-item avatar" *ngFor="let book of myBooks">
        <img src="{{book.coverUrl}}" alt="" class="circle">
        <span class="title">{{book.title}}</span>
        <a class="secondary-content r-50" (click)='editBook(book.id)'><i class="material-icons">edit</i></a>
        <a class="secondary-content r-10" (click)='deleteBook(book.id)'><i
                class="material-icons danger">delete_forever</i></a>
    </li>
</ul>
<app-edit-book *ngIf='showEdit' (showEditForm)='showEditForm($event)' [book]='bookForEdit'></app-edit-book>