<h5 class="center-align">MANAGE ACCOUNT</h5>
<div class="row">
    <form class="col s4" *ngIf='accDetailsForm' [formGroup]='accDetailsForm' (ngSubmit)='accDetailsFormSubmit()'>
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="current-password" type="password" autocomplete="on"
                formControlName='currentPassword'>
            <label for="current-password">Current password*</label>
            <p class="danger" *ngIf='accDetailsForm.controls.currentPassword.touched && accDetailsForm.controls.currentPassword.errors'>
                Current password must be between 6 and 50 characters.
            </p>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">account_box</i>
            <input id="username" type="text" formControlName='username'>
            <p class="danger" *ngIf='accDetailsForm.controls.username.touched && accDetailsForm.controls.username.errors'>
                Username must be between 4 and 20 characters.
            </p>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" formControlName='email'>
            <p class="danger" *ngIf='accDetailsForm.controls.email.touched && accDetailsForm.controls.email.errors'>
                E-mail is not valid.
            </p>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="new-password" type="password" autocomplete="on" formControlName='newPassword'>
            <label for="new-password">New password</label>
            <p class="danger" *ngIf='accDetailsForm.controls.newPassword.touched && accDetailsForm.controls.newPassword.errors'>
                Password must be between 6 and 50 characters.
            </p>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="confirm-new-password" type="password" autocomplete="on"
                formControlName='confirmNewPassword'>
            <label for="confirm-new-password">Confirm new password</label>
            <p class="danger" *ngIf='accDetailsForm.controls.confirmNewPassword.touched && accDetailsForm.controls.confirmNewPassword.errors'>
                Confirm password must be the same as Password.
            </p>
        </div>
        <button class="btn waves-effect waves-light light-blue accent-4" type="submit" name="action">UPDATE ACCOUNT</button>
    </form>
</div>