<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">The Book App</h5>
                <p class="grey-text text-lighten-4">We love books.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">HOME</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">BOOKS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright center-align">
        <div class="container">© 2020 The Book App™</div>
    </div>
</footer>